<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MonProjetBio</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>tp.panierbio.servlet.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MonPanier</display-name>
    <servlet-name>MonPanier</servlet-name>
    <servlet-class>tp.panierbio.servlet.MonPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonPanier</servlet-name>
    <url-pattern>/monpanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SubmitFormGestion</display-name>
    <servlet-name>SubmitFormGestion</servlet-name>
    <servlet-class>tp.panierbio.servlet.SubmitFormGestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFormGestion</servlet-name>
    <url-pattern>/submitFormGestion</url-pattern>
  </servlet-mapping>
</web-app>